name: Python Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Rodar código principal
      run: |
        python main.py
  sast:
    name: SAST - Análise de Segurança Estática
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install bandit

      - name: Rodar Bandit (SAST)
        run: bandit -r . -f txt -o bandit-report.txt

      - name: Upload do relatório (artefato)
        uses: actions/upload-artifact@v3
        with:
          name: relatorio-bandit
          path: bandit-report.txt
  dast:
    name: DAST - Análise de Segurança Dinâmica
    runs-on: ubuntu-latest
    needs: [sast]  # só roda depois do SAST
    steps:
      - name: Instalar OWASP ZAP
        run: sudo apt-get install zaproxy -y

      - name: Executar varredura simulada
        run: echo "Simulação de DAST concluída (nenhum app web para testar)"
